<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <div class="logo"><a href="/" id="image"><img src="/pictures/logo.png" alt="Logo"></a></div>
                <li><a href="/">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="/form">SIGN UP</a></li>
                <li class="login"><a href="/login">LOGIN</a></li>
                <div class="contact">1876-123-4567</div>
            </ul>
        </nav>
    </header>
     
     <main>
        <div class="container">

            <div class="picture">
                <img src="/pictures/yaaman-dolphincove-banner.jpg" alt="Water Front">
                <h3>DOLPHIN COVE OCHI RIOS</h3>
            </div>

            <div class="info">
                <div class="text">
                    <h2>The Caribbean's number one attraction</h2>
                    <p>
                        <b>Dolphin Cove Ocho Rios Jamaica</b> has a natural cove which is surrounded by 5 acres of lush tropical rainforest. Visitors have the opportunity to interact and swim with jamaican dolphins in their natural environment while enjoying the thrill and love of these amazing marine mammals. Visitors can also swim, hold, feed, and learn about the evolutionary secrets of the Caribbean sharks.
                    </p>
                    <p>
                       <b>Dolphin Cove Ocho Ríos Jamaica</b> is full of natural wonders and beauty, you gotta see it for yourself!. Enjoy Dolphin Cove in Ocho Rios, while strolling around in our Jungle Trail, you will notice many different wild animals, plants and trees. At Dolphin Cove Jamaica, we respect the environment of all the species, here you will live the most natural experience you’ve ever had. Jamaica Dolphin Cove is the place to spend the day enjoying lots of fun activities. There is something for everyone.
                    </p>
                    <p>
                        Dolphin Cove Ocho Rios entrance cost includes full use of the following activities:
                    </p>
                    <p>
                        Interact and snorkel with stingrays
                        Interact with exotic birds, snakes and iguanas on the Jungle Trail walk
                        Relax on our glistening white sandy beaches
                        Guests can enjoy the tropical surroundings, taste our famous Jamaican coffee at our Star Buccaneers coffee shop, browse for souvenirs or jewellery at our very own gift shops. Be entertained while you are having lunch against the backdrop of the Caribbean Sea. Play some games, win a prize, learn a little about Jamaica and Dolphins. At Dolphin Cove Jamaica there are activities to keep you busy for the entire day.
                    </p>
                    <p>
                        The Dolphin Cove Jamaica Entrance Fee is included with all dolphin and shark interactive programs.
                    </p>
                </div>
            </div>

            <div class="attractions">
                <div class="att1">
                    <img src="/pictures/royal-swim-dunns.jpg" alt="">
                    <div class="text">
                        <div class="txt1">Dolphin Swim Adventure</div>
                        <div class="txt2"> $149 USD</div>
                    </div>
                </div>
                <div class="att2">
                    <img src="/pictures/shark-encounter.jpg" alt="">
                    <div class="text">
                        <div class="txt1">Shark Encounter</div>
                        <div class="txt2"> $79 USD</div>
                    </div>
                </div>
                <div class="att3">
                    <img src="/pictures/dolphin-encounter-dunnfalls.jpg" alt="">
                    <div class="text">
                        <div class="txt1">Encounter</div>
                        <div class="txt2"> $109 USD</div>
                    </div>
                </div>
                <div class="att4">
                    <img src="/pictures/admission.jpg" alt="">
                    <div class="text">
                        <div class="txt1">Admission Plus</div>
                        <div class="txt2"> $79 USD</div>
                    </div>
                </div>
                <div class="att5">
                    <img src="/pictures/royal-swim-dunns.jpg" alt="">
                    <div class="text">
                        <div class="txt1">Dolphin Royal Swim</div>
                        <div class="txt2"> $189 USD</div>
                    </div>
                </div>
                <div class="att6">
                    <img src="/pictures/yaamanadventurepark.jpg" alt="">
                    <div class="text">
                        <div class="txt1">Yaaman Adventure + Swim with Dolphin</div>
                        <div class="txt2"> $149 USD</div>
                    </div>
                </div>
            </div>

            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3785.463091851204!2d-77.13254838514764!3d18.417271373497794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xe2b6af11a807fbc0!2sDolphin+Cove!5e0!3m2!1ses!2sus!4v1453820716783" width="65%" height="450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
            </div>

        </div>
     </main>

     <footer>
        <div class="wrapper">
            <div class="links">
                <ul>
                    <li><a href="#">Information</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Investor Relations</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms and Condition</a></li>
                </ul>
            </div>
            <div class="contacts">
                <h3>Contact Us</h3>
                <h2>1876-123-4567</h2>
                <p>Canada: 1-866-793-1905</p>
                <p>United Kingdom: 0-800-793-1905</p>
                <p>Mexico: 1-866-793-1905</p>
                <p>United States: 1-866-793-1905</p>
                <h3>Partners:</h3>
                <div class="pics">
                    <div class="img1">
                        <img src="/pictures/dd-logo.png" alt="">
                    </div>                        
                    <div class="img2">
                        <img src="/pictures/dc-logo.png" alt="">
                    </div>                        
                </div>
            </div>
        </div>
        <div class="dolplink">
            <a href="">www.dolphincoveja.com</a>
        </div>
     </footer>

</body>
</html>