<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/layouts.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <div class="logo"><a href="/" id="image"><img src="/pictures/logo.png" alt="Logo"></a></div>
                <li><a href="/">HOME</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="/form">SIGN UP</a></li>
                <li class="login"><a href="#">LOGIN</a></li>
                <div class="contact">1876-123-4567</div>
            </ul>
        </nav>
     </header>

     <%- body %>

     <footer>
            <div class="wrapper">
                <div class="links">
                    <ul>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                    </ul>
                </div>
                <div class="contacts">
                    <h3>Contact Us</h3>
                    <h2>1876-123-4567</h2>
                    <p>Canada: 1-866-793-1905</p>
                    <p>United Kingdom: 0-800-793-1905</p>
                    <p>Mexico: 1-866-793-1905</p>
                    <p>United States: 1-866-793-1905</p>
                    <h3>Partners:</h3>
                    <div class="pics">
                        <div class="img1">
                            <img src="/pictures/dd-logo.png" alt="">
                        </div>                        
                        <div class="img2">
                            <img src="/pictures/dc-logo.png" alt="">
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="dolplink">
                <a href="">www.dolphincoveja.com</a>
            </div>
     </footer>
    
</body>
</html>