*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav{
    height: 60px;
    background-color: #39A4AC;
}

nav ul{
    display: flex;
    gap: 20px;
    flex-direction: row;
    padding-top: 1px;
}

nav ul .logo{
    background-color: white;
    padding: 2px;
}

nav ul .logo img{
    width: 130px;
    height: 51px;
}

nav ul li{
  list-style: none;
  text-align: center;
  border: 1px solid black;
  border-top: none;
  border-bottom: none;
  border-left: none;
  height: 10px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 35px;
  margin-left: 50px;
  margin-top: 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

nav .contact{
    border: 1px solid gold;
    border-radius: 10px;
    background-color: gold;
    color: darkblue;
    font-size: 20px;
    height: 25px;
    width: 200px;
    padding: 5px;
    text-align: center;
    margin-left: 80px;
    margin-top: 10px;
}

table{
    margin: auto;
    width: 700px;
    margin-top: 20px;
}

th, td{
    text-align: center;
    font-size: 20px;
    height: 30px;
}

th{
    border: 1px solid #39A4AC;
    border-radius: 5px;
    border-right: none;
    border-left: none;
}

td button{
    border:1px solid #39A4AC;
    background-color: #39A4AC;
    padding: 3px;
    width: 100px;
    border-radius: 5px;
}

td button a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}
